# Python virtual environments
venv/
**/venv/

# Python cache files
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

.env
**/token_files/*

frontEnd/.env
backEnd/files/token_calendar_v3.json
backEnd\token_files\token_calendar_v3.json
backEnd\client-secret.json
frontEnd\token_files\token_calendar_v3.json
.client-secret
.token_calendar_v3